*{
    padding: 0;
    margin: 0;
    font-family: 'josefin Sans', sans-serif;
    box-sizing: border-box;
}
.about{
   width: 100%;
   padding: 78px 0px;
   background-color: #191919;
}
.about img{
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
} 
.about-text h5{
    color: rgb(46, 107, 46);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p1{
    color: rgb(4, 138, 4);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{ 
    background: #f9004d;
    color: white;
    text-decoration: turquoise;
    border: 5px solid transparent;
    font-family: lobster;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    transition: 0.4s;
}
button:hover{
    background: transparent;
    border: 3px solid;
    cursor: pointer;
}

